b{
    font-weight: bold;
}
*:focus{
    outline: none;
}
body{

}
.room-pane{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 30px;
    right: 150px;

    background-image: url("/_assets/img/backgrounds/r800_10000116_orig.jpg");
    background-size: cover;
    background-position: bottom;

}
.room-pane .message-line{
    margin: 0 0 3px 2px;
    box-sizing: border-box;
    font-size: 90%;
}
.roster-pane{

    position: absolute;

    top: 0;
    bottom: 30px;
    right: 0;
    width: 150px;

    padding: 8px;

    /*background-image: url("/_assets/img/backgrounds/r800_10000142_tail.jpg");*/

}
.message-pane{
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 27px;
}
.message-pane input{
     border: none;
     padding: 4px;
     font-size: 100%;
     width: 100%;
     box-sizing: border-box;
}
.message-pane > div{
    font-size: 90%;
}

.message-pane > div > input{
    width: 200px;
}