
body{
    font-family: Arial, sans-serif;
    font-size: 12px;
    color: #333f4d;
}
b{
    font-weight: bold;
}

.dots{
    float: left;
    width: 50px;
}

.dots > i{
    margin-right: 2px;
}
.dots > i:nth-child(1){
    color: #f57e7d;
}
.dots > i:nth-child(2){
    color: #ffc881;
}
.dots > i:nth-child(3){
    color: #82cf85;
}
.expand > i{
    color: #cfd6e0;
    font-size: 18px;
    cursor: pointer;
}
.window-area{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding-left: 0;
    background: #fff;
    z-index: 10;
}

.splash-screen{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #F0F3F3;
    z-index: 100;
}
.circles{
    left: 50%;
    margin-top: 15%;
}

.chat-area{
    border-top: 1px solid #cfdae1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 175px;
    box-shadow: inset 0 1px 3px rgba(207, 218, 225, 0.42)
}
.chat-area .chat-list{
    border-top: 1px solid #cfdae1;
    border-bottom: 1px solid #cfdae1;
    position: absolute;
    left: 0;
    top: -1px;
    right: 0;
    bottom: 44px;
    overflow-y: auto;
    outline: none;
}
.chat-area ul{
    margin-right: -4px;
}
.chat-area ul > li{
    border-top: 1px solid #cfdae1;
    overflow: hidden;
    position: relative;
}
.chat-area ul > li.me{
    background: #e4eaee;
}
.chat-area ul > li:first-child{
    border-top: none;
}
.chat-area ul .name{
    padding: 5px;
    text-align: right;
    width: 100px;
    float: left;
    color: #5d7185;
    font-weight: bold;
    line-height: 20px;
}
.chat-area ul .message{
    padding: 5px;
    border-left: 1px solid #cfdae1;
    float: left;
    color: #333f4d;
}
.chat-area ul .message > p{
    line-height: 20px;
}
.chat-area ul .message > p > .blue-label{
    background: #6ea0ff;
    color: #fff;
    padding: 0 5px;
    border-radius: 5px;
}
.chat-area ul .message .msg-time{
    position: absolute;
    top:12px;
    right: 15px;
    color: #738ba3;
    font-size: 9px;
    cursor: pointer;
}
.input-area{
    background: #e4eaee;
    padding: 6px;
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    border-top: 1px solid #cfdae1;
}
.input-area .input-wrapper{
    background: #fff;
    border: 1px solid #cfdae1;
    border-radius: 5px;
    overflow: hidden;
    float: left;
    width: 80%;
}
.input-area .input-wrapper input{
    height: 30px;
    line-height: 30px;
    border: 0;
    margin: 0;
    padding: 0 10px;
    outline: none;
    color: #5D7185;
    width: 100%;
}
.input-area .input-wrapper i{
    font-size: 18px;
    color: #a0b4c0;
    /* margin-right: 10px; */
    cursor: pointer;
    /* float: right; */
    position: absolute;
    margin-top: -23px;
    margin-left: 74%;
}
.input-area > input{
    background: #a0b4c0;
    border: none;
    letter-spacing:1px;
    font-weight: bold;
    color: #fff;
    border-radius: 5px;
    float:right;
    height: 30px;
    line-height: 30px;
    cursor: pointer;
    font-family: 'Open Sans', Arial, sans-serif;
    outline: none;
}
.right-tabs{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    border-left: 1px solid #cfdae1;
    border-top: 1px solid #cfdae1;
    width: 175px;
}
.right-tabs > ul.tabs{
    overflow: hidden;
}
.right-tabs > ul.tabs > li{
    float: left;
    width: 33.3%;
    text-align: center;
    border-bottom: 1px solid #cfdae1;
}
.right-tabs > ul.tabs > li > a{
    border-left: 1px solid #cfdae1;
    color: #72a3ff;
    display: block;
    background: #eef2f8;
    padding: 8px 0;
}
.right-tabs > ul.tabs > li.active{
    border-bottom: none;
}
.right-tabs > ul.tabs > li.active > a{
    background: #fff;
    color: #c3ccd3;
}
.right-tabs > ul.tabs > li:first-child > a{
    border-left: none;
}
.right-tabs > ul.tabs > li > a >i{
    font-size: 18px
}
.tabs-container{
    padding: 10px;
    color: #6e7f91;
}
.right-tabs > .fa-cog{
    position: absolute;
    bottom: 14px;
    right: 14px;
    color: #a0b4c0;
    font-size: 18px;
    cursor: pointer;
}
.member-list > li{
    padding: 5px 0;
}
.member-list > li .status{
    margin: 0 10px 0 0;
    font-size: 14px;
}
.member-list > li .status.online{
    color: #82cf85;
}
.member-list > li .status.idle{
    color: #ffac69;
}
.member-list > li .status.offline{
    color: #f57e7d;
}
.member-list > li .time{
    float: right;
    font-size: 9px;
    margin-top: 4px;
}