<!--logo start-->
<div class="brand">
    <a href="index.html" class="logo">
        <i class="icon-layers"></i>
        <span>хитаги</span>чат</a>
</div>
<!--logo end-->
<ul class="nav navbar-nav navbar-left">
    <li class="toggle-navigation toggle-left" toggle-left-sidebar></li>
    <li class="hidden-xs hidden-sm">
        <input type="text" class="search" placeholder="Поиск чатов и комнат">
        <button type="submit" class="btn btn-sm btn-search"><i class="fa fa-search"></i>
        </button>
    </li>
</ul>
<ul class="nav navbar-nav navbar-right">
     <li class="dropdown profile hidden-xs">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="meta">
                            <span class="avatar">
                                <img src="img/profile.jpg" class="img-circle" alt="">
                            </span>
                            <span class="text">Алексей Таянчин</span>
                            <span class="caret"></span>
                        </span>
                    </a>
                    <ul class="dropdown-menu animated fadeInDown" role="menu">
                        <li>
                            <a href="javascript:void(0);">
                                <span class="icon"><i class="fa fa-user"></i>
                                </span>Мой аккаунт</a>
                        </li>
                        <li>
                            <a href="javascript:void(0);" ui-sref="mail.inbox">
                                <span class="icon"><i class="fa fa-envelope"></i>
                                </span>Тикеты</a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">
                                <span class="icon"><i class="fa fa-cog"></i>
                                </span>Настройки</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="javascript:void(0);">
                                <span class="icon"><i class="fa fa-sign-out"></i>
                                </span>Выход</a>
                        </li>
                    </ul>
                </li>
    <li class="toggle-navigation toggle-right" fullscreen-mode></li>
</ul>
