<nav>
    <h5 class="sidebar-header">Навигация</h5>
    <!-- location directive.js | data-nav-toggle-sub maps to -->
    <ul class="nav nav-pills nav-stacked" data-nav-toggle-sub>
        <li ui-sref-active="active">
            <a href="" ui-sref="index" title="Dashboard">
                <i class="fa fa-fw fa-tachometer"></i> Общее
            </a>
        </li>
        <li class="nav-dropdown" ng-class="{active: $state.includes('ui')}">
            <a href="" title="Комнаты">
                <i class="fa  fa-fw fa-cogs"></i> Комнаты
            </a>
            <ul class="nav-sub" ng-class="{in: $state.includes('ui')}">
                <li ui-sref-active="active">
                    <a href="" ui-sref="ui.buttons" title="Buttons">Buttons
                   </a>
                </li>
                <li ui-sref-active="active">
                    <a href="javascript:;" ui-sref="ui.sliders-progress" title="Sliders &amp; Progress">Sliders &amp; Progress
                   </a>
                </li>
                <li ui-sref-active="active">
                    <a href="javascript:;" ui-sref="ui.modals-popups" title="Modals &amp; Popups">Modals &amp; Popups
                   </a>
                </li>
                <li ui-sref-active="active">
                    <a href="javascript:;" ui-sref="ui.tabs-accordions" title="Tabs &amp; Accordions">Tabs &amp; Accordions
                   </a>
                </li>
                <li ui-sref-active="active">
                    <a href="javascript:;" ui-sref="ui.alerts-notifications" title="Alerts &amp; Notifications">Alerts &amp; Notifications
                   </a>
                </li>
                <li ui-sref-active="active">
                    <a href="javascript:;" ui-sref="ui.nestable-lists" title="Nestable &amp; Lists">Nestable Lists
                   </a>
                </li>
                <li ui-sref-active="active">
                    <a href="javascript:;" ui-sref="ui.panels" title="Panels">Panels
                   </a>
                </li>
                <li ui-sref-active="active">
                    <a href="javascript:;" ui-sref="ui.icons" title="Icons">Icons</a>
                </li>
                <li ui-sref-active="active">
                    <a href="javascript:;" ui-sref="ui.typography" title="Typography">Typography</a>
                </li>
            </ul>
        </li>
        <li class="nav-dropdown" ng-class="{active: $state.includes('forms')}">
            <a href="" title="Чаты">
                <i class="fa  fa-fw fa-edit"></i> Чаты
            </a>
            <ul class="nav-sub" ng-class="{in: $state.includes('forms')}">
                <li ui-sref-active="active">
                    <a href="" ui-sref="forms.components" title="Components">Components
                   </a>
                </li>
                <li ui-sref-active="active">
                    <a href="javascript:;" ui-sref="forms.validation" title="Validation">Validation
                   </a>
                </li>
                <li ui-sref-active="active">
                    <a href="javascript:;" ui-sref="forms.mask" title="Mask">Mask
                   </a>
                </li>
                <li ui-sref-active="active">
                    <a href="javascript:;" ui-sref="forms.wizard.step_one" title="Wizard">Wizard
                   </a>
                </li>
            </ul>
        </li>
        <li class="nav-dropdown" ng-class="{active: $state.includes('tables')}">
            <a href="" title="Статистика">
                <i class="fa  fa-fw fa-th-list"></i> Статистика
            </a>
            <ul class="nav-sub" ng-class="{in: $state.includes('tables')}">
                <li ui-sref-active="active">
                    <a href="" ui-sref="tables.basic" title="Basic">Basic
                   </a>
                </li>
                <li ui-sref-active="active">
                    <a href="javascript:;" ui-sref="tables.data" title="Data Tables">Data Tables
                   </a>
                </li>
            </ul>
        </li>
        <li class="nav-dropdown" ng-class="{active: $state.includes('pages')}">
            <a href="" title="Страницы">
                <i class="fa  fa-fw fa-file-text"></i> Страницы
            </a>
            <ul class="nav-sub" ng-class="{in: $state.includes('pages')}">
                <li ui-sref-active="active">
                    <a href="" ui-sref="pages.blank" title="Blank Page">Blank Page
                   </a>
                </li>
                <li ui-sref-active="active">
                    <a href="javascript:;" ui-sref="pages.profile" title="Profile">Profile
                   </a>
                </li>
                <li><a href="pages-sign-in.html">Sign In</a>
                </li>
                <li><a href="pages-sign-up.html">Sign Up</a>
                </li>
                <li><a href="pages-locked-screen.html">Locked Screen</a>
                </li>
            </ul>
        </li>
    </ul>
</nav>